	<% if line_item == @current_item %>
	<tr class="line-item-highlight text-sm">
 	<% else %>
	<tr class="text-sm">
 	<% end %>
	  <td class="w-10 py-2 text-center font-semibold text-slate-700"><%= line_item.quantity %></td>
	  <td class="w-4 py-2 text-center text-slate-400">x</td>
	  <td class="py-2 pr-2 text-slate-700">
 	    <%= line_item.product.title %>
 	  </td>
	  <td class="py-2 text-right font-extrabold text-slate-900">
	    <%= number_to_currency(line_item.total_price) %>
 	  </td>
	</tr>
